:root{
    --primary-color: rgb(14, 7, 161);
    --secondary-color: rgb(118, 169, 17);
    --primaryTextColor: rgb(255, 253, 253);
    --secodayTextColor: rgb(166, 19, 19);
    --tertiaryColor: rgb(255, 0, 187);
    --alternateText: rgb(38, 149, 196);
    --borderPrimary: rgb(92, 89, 89);
    --borderSecondary: rgb(155, 179, 177);
    --backgroundColor: rgb(232, 229, 229);
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--backgroundColor);
}

.themeSetting{
    line-height: 0;
    background-color: var(--primary-color);
    color: var(--primaryTextColor);
    overflow: auto;
    padding: 5px 0 0 20px;
}


/*Nav bar Styling*/

.logo{
    color: var(--secondary-color);
    text-shadow: 1.2px 1.2px var(--borderSecondary);
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img{
    width: 100%;
}

code, pre {
    background-color: var(--borderPrimary);
    color: var(--primaryTextColor);
    padding: 10px;
}

.navbar{
    background-color: var(--primary-color);
    color: var(--primaryTextColor);
    height: 70px;
}

.navbar ul {
    display: flex;
}

.navbar a{
    color: var(--primaryTextColor);
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover{
    border-bottom: 2px solid var(--primaryTextColor);
}
.navbar .flex{
    justify-content: space-between;
}

/*Showcase Styling*/

.showcase{
    height: 300px;
    background-color: var(--primary-color);
    color: var(--primaryTextColor);
}

.showcase .grid{
    grid-template-columns: 5.5fr 4.5fr;
    gap: 30px;
    overflow: visible;
}

.showcase h1 {
    font-size: 40px;
}

.showcase p {
    margin: 20px 0;
}

.showcase-text{
    animation: slideInFromLeft 2s ease-in;
}

.showcase-form{
    position: relative;
    top: 60px;
    height: 320px;
    width: 310px;
    padding: 10px;
    z-index: 100;
    justify-self: flex-end;
    animation: slideInFromRight 2s ease-in;
}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form input[type="text"], 
.showcase-form input[type="email"] {
    border: 0;
    border-bottom: 1px solid var(--borderSecondary);
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcase-form input:focus {
    outline: none;
}

.showcase-slide{
    width: 100%;
    height: 100px;
    background-color: var(--backgroundColor);
    transform: skewY(-3deg);
    margin-top: -30px;

}

/*Stats*/

.stats {
    padding-top: 100px;
    animation: slideInFromBottom 2s ease-in;

}

.stats-heading{
    max-width: 500px;
    margin: auto;
}

.stats .grid h3{
    font-size: 35px;
}
.stats .grid p{
    font-size: 20px;
    font-weight: bold;
}

/*Cli */

.cli .grid{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

/*Cloud */

.cloud .grid{
    grid-template-columns: 4fr 3fr;
}

/*Languages*/

.languages .flex{
    flex-wrap: wrap;
}

.languages .card{
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
}

.languages .card h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.languages .card:hover{
    transform: translateY(-15px);
}

/*Features*/
.features-head img, .docs-head img{
    width: 200px;
    justify-self: flex-end;
}

.features-sub-head img{
    width: 300px;
    justify-self: flex-end;
}

.features-main .card > i{
    margin-right: 20px;
}

.features-main .grid{
    padding: 30px;
}

.features-main .grid > *:first-child{
    grid-column: 1 / span 3;
}
.features-main .grid > *:nth-child(2){
    grid-column: 1 / span 2;
}

/*Docs*/
.docs-main h3{
    margin: 20px;
}

.docs-main .grid{
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
}

.docs-main nav li {
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--borderPrimary);
}

.docs-main a:hover{
    font-weight: bold;
}



/*footer*/
.footer{
    background-color: var(--primary-color);
    color: var(--primaryTextColor);
}

.footer .social a{
    margin: 0 10px;
}

/*Animation*/
@keyframes slideInFromLeft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes slideInFromRight{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes slideInFromTop{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes slideInFromBottom{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateX(0);
    }
}


/*Tablets and under media query*/

@media(max-width: 768px) {
    .grid, .showcase .grid,
    .cli .grid,
    .stats .grid,
    .cloud .grid,
    .features-main .grid,
    .features-head .grid, 
    .docs-head .grid,
    .features-sub-head .grid, 
    .docs-main .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase{
        height: auto;
    }

    .showcase-text{
        text-align: center; 
        margin-top: 40px;
        animation: slideInFromTop 2s ease-in;
    }

    .showcase-form{
        justify-self: center;
        margin: auto;
        animation: slideInFromBottom 2s ease-in;
    }

    .cli .grid > *:first-child{
        grid-column: 1;
        grid-row: 1;
    }

  .features-head, 
  .features-sub-head, 
  .docs-head{
      text-align: center;
  }

  .features-head img,
  .features-sub-head img,
  .docs-head img{
      justify-self: center;
  }

  .features-main .grid >*:first-child, 
  .features-main .grid >*:nth-child(2){
      grid-column: 1;

  }
}


/*Mobile media query*/

@media(max-width: 500px) {
    .navbar{
        height: 110px;
    }

    .navbar .flex{
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        background-color: var(--borderPrimary);
    }
}